.card-1{
    background-color: #FFBD3E !important; 
}
.card-2{
    background-color: #FF7044 !important; 
}
.card-3{
    background-color: #3F90FC !important; 
}
.card-4{
    background-color: #421FCF !important; 
}
.card-5{
    background-color: #3F90FC !important; 
}
.card-6{
    background-color: #421FCF !important; 
}
.card-7{
    background-color: #FFBD3E !important; 
}
.card-8{
    background-color: #FF7044 !important; 
}
.card-9{
    background-color: #FFBD3E !important; 
}
.card-10{
    background-color: #3F90FC !important; 
}
.card-11{
    background-color: #FF7044 !important; 
}
.card-12{
    background-color: #421FCF !important; 
}
.card-13{
    background-color: #FFBD3E !important; 
}
.card-14{
    background-color: #421FCF !important;
    
}
.card-15{
    background-color: #FF7044 !important; 
}
.card-16{
    background-color: #3F90FC !important; 
}
.card-17{
    
    background-color: #3F90FC !important; 
}
.card-18{
    background-color: #FFBD3E !important; 
}
.card-19{
   
    background-color: #421FCF !important; 
}
.card-20{
    background-color: #FF7044 !important; 
}

